body {
  background-color: black;
  color: whitesmoke;
}
h1 {
  border: 2px solid black;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-size: 3em;
}
ul {
  border: 2px solid black;
  list-style: none;
  text-align: center;
  padding: 20px;
}
li {
  background-color: wheat;
  padding: 15px;
  margin: 10px;
  font-size: 1.5em;
}
a {
  color: black;
}
a:hover {
    color: red;
}